<module>
	<rawname>callforward</rawname>
	<repo>standard</repo>
	<name>Call Forward</name>
	<version>15.0.6</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<changelog>
		*15.0.6* fixing legacy restore 
		*15.0.5* backup and restore 
		*15.0.4* Rest Api 
		*15.0.3* Feature parity with restapi module
		*15.0.2* Packaging of ver 15.0.2
		*15.0.1* Fork from 14.0.1.3, impliment backup
	</changelog>
	<description>Provides callforward featurecodes</description>
	<category>Applications</category>
	<supported>
		<version>15.0</version>
	</supported>
</module>